.Sunburst {
  width: 100%;
  max-width: 1000px;
  min-height: 80vh;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;

  &__left {
    width: 72%;
    padding: 0 12px 0 0;
    padding: 12px;
  }

  &__right {
    width: 28%;
    border-left: 1px solid #ccc;
    padding: 12px;
  }

  &__control {
    display: flex;
    margin: 0 0 8px 0;
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    padding: 4px 0;
  }

  h2 {
    margin-bottom: 12px;
  }
}

.Title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListTitle {
  ul,
  li {
    list-style: none;
    margin: 0 0 4px;
    padding: 0;
    button {
      width: 100%;
      padding: 8px 12px;
      cursor: pointer;
      text-align: left;
      border-radius: 0;
      border: 0;
      font-size: 14px;
      line-height: 1.25;
      border-radius: 4px;
      transition: 0.2s linear;
      &:hover,
      &.active {
        background-color: #91d8fb;
      }
    }
  }
}

.Breadcrumb {
  width: 60%;
  button {
    border: 0;
    transition: 0.2s linear;
    background: #efefef;
    padding: 8px 12px 8px 24px;
    margin: 4px 10px 4px 0;
    cursor: pointer;
    position: relative;
    line-height: 16px;
    &:after,
    &:before {
      transition: 0.2s linear;
      content: " ";
      position: absolute;
      top: 0;
      left: 100%;
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;
      border-left: 10px solid #efefef;
    }
    &:before {
      left: 0px;
      border-left-color: #fff;
    }
    &:first-child {
      &:before {
        display: none;
      }
    }
    &:hover,
    &:last-child {
      &:after {
        border-left-color: #91d8fb;
      }
      background-color: #91d8fb;
    }
  }
}

.Legend {
  width: 40%;
}
